/*
 * Estilos de tu proyecto
 */


* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family:  'Merriweather Sans';
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;

}

img {
  vertical-align: middle;
}

.container{
 	width: 100%;
 	margin: 0 auto;
 	text-align: center;
 	padding: 30px;
}

header{
	width: 100%;
 	background-color: #003c47;
 	position: fixed;
 	top: 0;
 	font-family: "Baloo Paaji"
}

h2{
	font-size: 400%;
}

.header1 .title{
	font-size: 60%;
}

.header1{
	height: 120px;
}

.header2 .title{
	font-size: 50%;
}

.header2{
	height: 80px;
}

.menu{
	position: absolute;
 	right: -50px;
 	top: 50%;
  	transform: translate(-50%, -50%);
}

.menu a{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

.menu a:hover {
	background-color: #14b78e;
}

.title{
 	color: #fff;
 	position: absolute;
 	left: 200px;
 	top: 50%;
  	transform: translate(-50%, -50%);
 	padding: 0 30px;
 	font-size: 80%;
}

#presentation{
	margin: auto;
	background-color: #14b78e;
	overflow: auto;
	color: white;
}


.presentation1{
	margin-top: 120px;
}

.presentation2{
	margin-top: 80px;
}

h1{
	font-weight: 800;
	font-size: 300%;
}

hr{
	width: 100px;
	display: inline-block;
}

.line-white{
	height: 5px;
	background-color: white;
	border: none;
	position: relative;
	top: -10px;
}

.line-black{
	height: 5px;
	background-color: #003c47;
	border: none;
	position: relative;
	top: -10px;
}

#portafolio{
	background-color: white;
	color: #003c47;
}

#portafolio, #about, #contact{
	font-size: 120%;
}

#about{
	margin: auto;
	background-color: #14b78e;
	overflow: auto;
	color: white;
}

#download{
	border: 4px solid white;
	border-radius: 5px;
	background-color: transparent;
	color: white;
	padding: 10px 30px;
	font-size: 100%;
	cursor: pointer;
}

p{
	font-family: "Asap";
	padding: 20px;
}
#download:hover{
	background-color: rgba(255, 255, 255, 0.5);
}
#contact-dates{
	color:  #003c47;
}

form{
	width: 50%;
	padding: 10px;
	text-align: left;
}

form input{
	display: block;
	width: 100%;
	padding: 10px;
	margin: 10px;
	font-family: "Asap";
	font-size: 75%;
}

form button{
	background-color:  #14b78e;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px;
	border: none;
	cursor: pointer;
	font-family: "Asap";
	font-size: 75%;
	color: white;
}

#contact-web{
	color: white;
	background-color:  #003c47;
}

.content{
	width: 30%;
	height: 200px;
	display: inline-block;
}